/* Light mode styles */
body.light {
  background-color: #f5f5f5; /* Light gray background */
  color: #333333; /* Dark text in light mode */
}

/* Dark mode styles */
body.dark {
  background-color: #141414; /* Dark background */
  color: #f5f5f5; /* Light text in dark mode */
}

.navbar-light-mode-toggle-icon {
  color: #757575; /* Dark gray color for light mode icon */
}
.navbar-light-mode-toggle-icon {
  background-color: #757575; /* Dark gray color for hamburger icon in dark mode */
}

/* Other styles */
.custom-navbar-brand:hover {
  color: #e50914 !important; /* Netflix red color on hover */
  transition: color 0.5s ease; /* Smooth transition */
}

.nav-link {
  border-radius: 10px; /* Add rounded borders */
}

.nav-link:hover {
  background-color: #e50914; /* Netflix red color on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.custom-navbar:hover {
  color: #e50914 !important; /* Netflix red color on hover */
  transition: color 0.5s ease !important; /* Smooth transition */
}

.custom-navToggle:hover {
  color: #e50914 !important; /* Netflix red color on hover */
  background-color: #757575 !important; /* Dark gray background on hover */
  transition: color 0.5s ease !important;
  transition: background-color 0.5s ease !important; /* Smooth transition */
}

.navbar {
  background-color: #141414 !important; /* Dark background for navbar */
}

.navbar-light-mode {
  /* Light mode styles */
  background-color: #f5f5f5; /* Light background color */
  color: #333333; /* Dark text color */
}

.navbar-dark-mode {
  /* Dark mode styles */
  background-color: #141414; /* Dark background color */
  color: #f5f5f5; /* Light text color */
}
